#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.main{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1280px;
  min-width: 950px;
  width: 100%;
}